*{
    margin: 0;
    padding: 0;
}
#Box1{
    height: 600px;
    width: 500px;
    background-color: white;
    margin-left: 300px;
    margin-top: 100px;
    border: 2px solid rgba(0, 0, 0, 0.135);
    border-radius: 20px;
    box-shadow: 0px -0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}